version: '3.6'
services:
  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: root
      POSTGRES_DB: auth-api
    volumes:
      - ./docker-utils:/docker-entrypoint-initdb.d
      - auth_api_data:/var/lib/postgresql
    ports:
      - "5434:5432"

volumes:
  auth_api_data: